[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "diy.sem.plot"]
	path = diy.sem.plot
	url = https://github.com/snagy86/diy.sem.plot
